body{
    background-color: #c2d8ff;
    font-family: 'Caveat';  
    overflow:hidden; 
}
.Text{    font-size: 25px;
    padding: 5px;
}
.chText{
    /* font-size: 25px; */
    display: block;
    margin: 20px,5px;
}
h1{
    font-family: 'Silkscreen';
    text-align: center;
    font-size: 60px;
    font-weight: 100;
    margin: 10px;
}
#otherpages{
    background-color: rgba(255, 255, 255, 1);
    width: 150px;
    height: 500px;
    position: absolute;
    left: 20%;
    top: 15%;
    border:5px #000000 double;
    margin: 5px;
    padding: 5px;
    font-size: 30px;
    /* color: ; */

}
#Day{
    width: 180px;
    height: 30px;
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 1);
    position: absolute;
    left: 73%;
    top: 79%;
    padding: 20px;
    text-align: center;
    font-size: 30px;
    font-family: 'Ubuntu Mono';
    border:5px #000000 double;
}
#time{
    position: absolute;
    left: 75%;
    top: 19%;
    font-size: 50px;
    font-family: 'Ubuntu Mono'; 
    /* color: white; */
}
.List{
    background-color: rgba(255, 255, 255, 1);
    width: 250px;
    height: 300px;
    position: absolute;
    left: 35%;
    top: 15%;
    padding :5px 0px 0px 15px;
    margin: 5px 5px 10px 5px;
    border:5px #000000 double;
}
.sun img{
    width: 500px;
    height: 500px;
}
.sun{
    position: absolute;
    left: 65%;
    top: -10%;
    animation-name: MoveCat;   
    animation-duration: 15s;    
    animation-delay: 0s; 
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
.cloud{
    position: absolute;
    left: -20%;
    top: 25%;
    animation-name: MoveCloud;   
    animation-duration: 12s;    
    animation-delay: 0s; 
    animation-iteration-count: infinite;
    animation-timing-function: linear; 
    animation-direction: alternate;
}
.cloud img{
    width: 200px;
    height: 200px;
}
.c2{
    position: absolute;
    top: 35%;    
    animation-delay: 1s;
    animation-duration: 10s;
    animation-direction: alternate-reverse;
}
.c3{
    position: absolute;
    top: 47%;
    animation-delay: 2s;
    animation-duration: 14s;
    animation-direction: alternate;
}
.c4{
    position: absolute;
    top: 63%;
    animation-delay: 4s;
    animation-duration: 16s;
    animation-direction: alternate-reverse;
}
.c5{
    position: absolute;
    top: 75%;
    animation-delay: 3s;
    animation-duration: 8s;
    animation-direction: alternate;
}
#Output{
    background-color: rgba(255, 255, 255, 1);
    width: 500px;
    height: 200px;
    border:5px #000000 double;
    padding: auto;
    text-align: center;
    font-size: 80px;
    position: absolute;
    top:60%;
    left: 35%;
    margin: 15px 5px 5px 5px;
}
#cat{
    width: 200px;
    height: 200px;
    border-radius: 100px;
    position:absolute;
    left: 55%;
    top: 25%;
    border:5px #000000 double;
    
    animation-name: MoveCat;   
    animation-duration: 2s;    
    animation-delay: 0s; 
    animation-iteration-count: infinite; 

}
@keyframes MoveCat{
    from{
        transform:rotate(0deg);
    }
    to{
        transform:rotate(360deg);
    }
}
@keyframes MoveCloud{
    from{
        left: -20%;
    }
    to{
        left: 120%;
    }
}
